.cart-style {
  padding-left: 20px;
}

.cart-style h3 {
  text-align: center;
  padding-bottom: 10px;
}


.cart-btn{
    margin: 40px 0px;
}

.btn{
  /* display: inline; */
  border: none;
  color: white;
  width: 232px;
  height: 48px;
  border-radius:4px ;
  display: flex;
  justify-content: center;
  align-items: center;

  
}
.btn p{
  margin-right: 10px;
}

.clear-btn{
    background-color: #FF3030;
    margin-bottom: 16px;
}
.remove-btn{
    background-color: #FF9900;
}
