
nav{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 130px 0px 130px;
    margin: 0px;   
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
nav a:hover{
    color: orange;
}
